# files
*.log
*.zip
.DS_Store
#/*.js

# folders
node_modules/*
coverage/*

# Editor directories and files
.vscode
.idea

src/weixin/jsonpJssdk.js
src/weixin/jsonpJssdk.js
addClass.js
src/weixin/jsonpJssdk.js
src/weixin/jssdk.js
src/request/jsonp.js
